.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 2rem;
    background-color: black;
    color: white;
    border: 2px solid white;
    position: fixed;
    top: 25%;
    right: 1%;
    opacity: 50%;
}

.btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    opacity: 100%;
}

.btn a {
    text-decoration: none;
    color: inherit;
}