.App {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  height: 100vh;
  padding-left: 1em;
}

.food {
  width: 24%;
  height: 100px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.food:hover {
  border: 2px solid white;
  cursor: default;
}

.addToCartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  background-color: white;
  color: black;
  border: 2px solid white;
}

.addToCartBtn:hover {
  background-color: black;
  color: white;
  opacity: 100%;
  cursor: inherit;
}
